.navigation {
  padding-left: 30px;
  padding-right: -60px;
  height: 15vh;
  width: 1600px;
  
  display: flex;
  justify-content: space-around;
  gap: 800px;
  align-items: center;
  background-color: white;
}

.logo img {
  margin-top: 20px;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 24px;
  font-weight: 500;
}
