
.navigation {
    padding:0 8px;
    height:72 px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    list-style: none;
    display: flex;
   gap:24px;
   font-weight:500;   
}
